<%- include('../header') %>

<form method="POST">
    <div>
        <label for="deltweet">Add meg a tweet id-ját amit törölni akarsz!</label>
        <input type="text" id="deltweet" name="deltweet"/>
    </div>
<button type="submit">send</button>
</form>

<%- include ('../footer') %>