<%- include('../header') %>

<h2>Create an account</h2>

<form method="POST">
    <div>
<input type="email" class="form-control" id="email" placeholder="e-mail" name="email"/>
</div>
<div>
<input type="password" class="form-control" id="password" placeholder="password" name="password"/>
</div>
<div>
<input type="text" class="form-control" id="username" placeholder="username" name="username"/>
</div>

<button type="submit" class="btn btn-success">Create</button>
</form>

<%- include('../footer') %>